<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>


    <style>
        * {
            font-family: "Open Sans"
        }
        .link {
            stroke: #d7d7d7;
            fill: transparent;
            transition: stroke 100ms linear;
        }
        .link:hover {
            stroke: gray;
            transition: stroke 300ms linear;
        }
    </style>
</head>

<body>
    <div id="chart"></div>
</body>
<script>
    let fid = 0;
    if ("{{ id }}" || 0) {
        fid = "{{ id }}" || 0
    }

</script>
<script src="{{url_for('static', filename='sankey.js')}}"></script>

</html>